@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.section-1 {
    flex: 3;
    background-image: url(images/background.jpg);
    background-size: cover;
    position: relative;
}

.logo-container {
    position: absolute;
    z-index: 1;
    height: 150px;
    top: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-text {
    color: white;
    font-family: "norsebold";
    font-size: 5rem;
    margin: 0;
}

.logo-image {
    height: 80%;
}

.logo-background {
    background-color: black;
    width: 100%;
    height: 150px;
    opacity: 0.5;
    position: absolute;
    top: 14rem;
}

.section-2 {
    flex: 7;
}

