html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.section-1 {
    flex: 0 0 30%;
    background-image: url(images/background.jpg);
    background-size: cover;
    position: relative;
}

.logo-background {
    background-color: black;
    width: 100%;
    height: 150px;
    opacity: 0.5;
    position: absolute;
    top: 14rem;
}

.section-2 {
    flex: 0 0 70%;
}

