@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.section-1 {
    flex: 4;
    background-image: url(images/background.jpg);
    background-size: cover;
    position: relative;
}

.logo-container {
    position: absolute;
    z-index: 1;
    height: 150px;
    top: 14.5rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-text {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    margin: 0;
}

.logo-image {
    height: 80%;
}

.logo-background {
    background-color: black;
    width: 100%;
    height: 150px;
    opacity: 0.5;
    position: absolute;
    top: 14rem;
}

.section-2 {
    flex: 6;
}

.top-content {
    padding: 6rem 5rem 3rem 5rem;
    background-color: #fafafa
}

.intro-text {
    font-weight: normal;
    font-size: 1.5em;
    margin-right: 30%;
}

.form-heading {
    font-weight: normal;
    font-size: 1.5em;
    color: #242424;
    margin-top: 0;
}

.middle-content {
    position: relative;
    padding: 1em 5em;
    background-color: white;
    box-shadow: 0px 3px 10px -5px grey;
}

.sign-up-form {
    width: 70%;
}

.form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-row .form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-field input {
    background-color: #FFFFFF;
    border: 1.5px solid #E5E7EB;
    border-radius: 3px;
    padding: 0.4em;
    font-size: 18px;
    width: 80%;
    box-sizing: border-box;
}

.form-field input:focus {
    outline: 1px solid #4287f5;
    box-shadow: 1px 1px 10px #b5b5b5;
}

.password input:invalid {
    outline: 1px solid red;
}

.form-field label {
    color: #363636;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

.bottom-content {
    background-color: #fafafa;
    width: 100%;
    padding: 2em 5em 11em 5em;
    box-sizing: border-box;
}

.account-button {
    display: inline-block;
    border: none;
    border-radius: 10px;
    padding: 1rem 3rem;
    margin: 0;
    text-decoration: none;
    background: #1b381e;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 1px 10px #a6a6a6;
    margin-bottom: 1rem;
}

button:hover {
    background: #244f29;
}

a {
    color: #1b381e;
    text-decoration: none;
    font-weight: bold;
}